
body {
	margin: 0;
	padding: 0;
	width: 100%;
  height: auto;
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
	font-family: Verdana, sans-serif;
}

* {
    box-sizing: border-box;
} 

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
	float: left;
}

@media only screen and (max-width: 500px) {

  [class*="col-"] {
      width: 100%;
  }

  h1 {
    font-size: 1.5em;
  }

  .container {
    position: relative;
  	padding: 3% 10%;
 	}

  #landing-page-photo {
    background-position: 30% 1%;
  }

  #landing-page-photo .main-text {
    width: 100%;
    padding: 4% 1%;
  }

  .input-medium {
    width: 100%;
  }

  #div-table-search {
    overflow-x: auto;
    padding: 3% 3%; 
  }

  .modal-content {
    width: 80%; 
  }

}

@media only screen and (min-width: 501px and max-width: 800px) {

  [class*="col-"] {
      width: 100%;
  }

  .container {
    position: relative;
    padding: 3% 10%;
  }

  #landing-page-photo {
    background-position: 20% 1%;
  }

  #landing-page-photo .main-text {
    width: 80%;
    padding: 4% 1%;
    font-size: 1.5em;
  }

  .input-medium {
    width: 100%;
  }

  #div-table-search {
    overflow-x: auto;
    width: 70%;
    margin: auto; 
    padding-top: 2%;
  }

  .modal-content {
    width: 80%; 
  }

}

@media only screen and (min-width: 801px) {	

  #btn-menu-toggle {
  	display: none;
  }

  aside {
    display: none !important;
  }

  .container {
    position: relative;
  	padding: 2% 15%;
  }

  label {
    padding-top: 10px;
  }

  #landing-page-photo .main-text {
    width: 80%;
    left: 10%;
    font-size: 1.5em;
    padding: 2% 1%
  }

  .input-medium {
    width: 60%;
  }

  #div-table-search {
    overflow-x: auto;
    width: 70%;
    margin: auto; 
    padding-top: 2%;
  }

  .modal-content {
    width: 40%; 
  }

}

.row:after {
	content: "\a";
	white-space: pre;
	clear: both;
	display: block;
	
} 

.alert-success {
	padding: 2% 2% 2% 2%;
	color: rgb(76, 175, 80) !important; 
}

.alert-error {
	padding: 2% 2% 2% 2%;
	color: #a94442;
}

.hidden {
  display: none;
}

.grad-bgnd {
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  background: linear-gradient(rgba(0, 0, 0, 0.1), transparent);
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), transparent);
  background: -o-linear-gradient(rgba(0, 0, 0, 0.1), transparent);
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.1), transparent);
}

nav {
	height : 64px;
	width: 100%;
	background-color: #222222;
	padding-left: 10px;	
	display: block;
	overflow: hidden;
	z-index: 2;
  box-shadow: 0px 1px 10px black;
}

#btn-menu-toggle {
  position: relative;
  bottom:25%;
  padding: 1em;
}

nav img {
	width:  auto;
	height: 64px;
	padding: 0 10px;
}

nav a {
	color: #e6e6e6;
	text-decoration: none;
	border: none;
}

.right {
  float: right;
}

.left {
  float: left;
}

nav a.nav-menu {
  display: none;
  padding: 22px 15px 20px 15px !important;
  position: relative;
  bottom: 40%;
}

.nav-menu:hover {
  background-color: #000000;
  color: #ffffff;
}

aside {
  display: none;
	width: 60%;
	position: absolute;
	background-color: rgba(0 ,0, 0, 0.8);
	color: #ffffff;
  z-index: 1;
}

aside ul {
	text-decoration: none;
}

aside li {
	list-style-type: none;
	padding: 10px 0;
}

aside a {
  color: #ffffff;
  text-decoration: none;
  border: none;
}

#mobile-menu {
	display: none;
	float: left;
	padding: 22px 15px 20px 15px !important;
}

#landing-page-wrapper {
  position: absolute;
  height: 100vh;
  width: 100%;
}

#landing-page-photo {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("/imagens/landingPage.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#landing-page-photo .main-text {
  position: absolute;
  bottom: 20vh;
  margin: auto;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.form-search {
  position: absolute;
  top: 70%;
  height: 30%;
  width: 100%;
}

button {
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 5px;
  font-size: 1em;
  color: #666666;
}

.btn-default {
	border-radius: 4px;
  padding: 5px;
  font-size: 1em;
  color: #666666;
}

.btn-green {
  border-color: rgb(76,175,80);
  background: rgb(76,175,80);
  color: white;
}

.btn-green:hover {
  background: rgb(76,200,80);
}

.btn-lg {
  padding: 10px 20px;
}

.btn-search {
  position: relative;
  left: 10%;
  padding: 12px;
  cursor:pointer;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;  
  font-size: 0.9em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  background: #f1f1f1;
  background: linear-gradient(#fff, #f1f1f1);
  background: -webkit-linear-gradient(#fff, #f1f1f1);
  background: -o-linear-gradient(#fff, #f1f1f1);
  background: -moz-linear-gradient(#fff, #f1f1f1);
}

select {
  border-radius: 4px;
  padding: 10px 0 10px 0;
  border: 1px solid #cccccc;
  background-color: white;
  font-size: 0.9em;
  text-indent: 5px;
}

textarea {
  border-radius: 4px;
  border: 1px solid #cccccc;
  padding: 10px 0 10px 0;
  font-size: 0.9em;
  text-indent: 5px;
}

h1 {
  color: #222222;
  font-weight: normal;
}

input {
	margin: auto;
	border-radius: 4px;
	border: 1px solid #cccccc;
	padding: 10px 0 10px 0;
  font-size: 0.9em;
  text-indent: 5px;
}

.input-lg {
  width: 100%;
}

.input-login {
  padding: 15px 0;
}

.input-search {
  position: relative;
  left: 10%;
  width: 60%;
  padding: 12px 2px;
}

input.input-search:first-child {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

input.input-search:last-child {
	border-top-left-radius: 0px !important ;
	border-bottom-left-radius: 0px !important;
}

label {
	font-size: 90%;
	font-weight: normal;
	color: #666666;
  display: block;
  padding-bottom: 2px;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.7); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#form-search {
  position: absolute;
  top: 3%;
  width: 100%;
}

table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  text-align: center;
  padding: 10px 10px;
}

thead {
  display: table-header-group;
  border-bottom: 2px solid #bfbfbf;
}

th {
  padding: 10px 10px;
}

tbody {
  display: table-row-group;
}

tr {
  display: table-row;
}

td {
  border-top: 1px solid #bfbfbf;
  padding: 10px 10px;
}
